

@keyframes guang1 {
  from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(50deg);
  }
}

.guang1 {
  animation-name: guang1;
  animation-iteration-count:infinite;
  animation-duration: 2200ms;
  animation-direction:alternate;
  animation-timing-function: linear;
}

@keyframes guang2 {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(100deg);
  }
}

.guang2 {
  animation-name: guang2;
  animation-iteration-count:infinite;
  animation-duration: 2500ms;
  animation-direction:alternate;
  animation-timing-function: linear;
}



@keyframes guang3 {
  from {
    transform: rotate(130deg);
  }
  to {
    transform: rotate(140deg);
  }
}

.guang3 {
  animation-name: guang3;
  animation-iteration-count:infinite;
  animation-duration: 2900ms;
  animation-direction:alternate;
  animation-timing-function: linear;
}