
.bounce-enter-active {
  animation: bounce-in .3s;
}
.bounce-leave-active {
  animation: bounce-in .2s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1.1);
  }

  to {
    opacity: 0.6;
    transform: scale(1);
  }
}

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate(360deg);
  }

  to {
    transform-origin: center;
    transform: rotate(0deg);
  }
}

@keyframes bounceInLeft {
  from {
    background-position: left bottom;
  }

  to {
    background-position: right bottom;
  }
}

@keyframes devia {
  from {
    transform:translate(0,0);
  }

  to {
    transform:translate(0,-20px);
  }
}

.play{
  animation-name: 'fadeOut';
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.deviation{
  animation-name: 'devia';
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}







@keyframes gundong1 {
  from {
    top:0
  }

  to {
    top: -15.8rem;
  }
}

@keyframes gundong2 {
  from {
    top: -15.8rem;
  }

  to {
    top:0
  }
}



